{% extends 'base.html' %}

{% block title %} New Trip Idea {% endblock %}

{% block body %} 

    <div class="card mx-auto text-center my-5" style="width: 32rem;">
        <div class="card-body">
          <h5 class="card-title">Trip: </h5>
                Name: {{ trip.name }} <br>
                Destination: {{ trip.destination }} <br>
                Description: {{ trip.description }} <br>
                Price: {{ trip.price }} <br>
                Is abroad: {{ trip.is_abroad }} <br>
                Contact number: {{ trip.contact_number }} <br>
                <hr>
                {% for item in recently_viewed_items %}
                  {{ item }}, 
                {% endfor %}
        </div>
      </div>
      
{% endblock %}