{% extends 'base.html' %}

{% block title %} New Trip Idea {% endblock %}

{% block body %} 
    <div style="text-align: center; margin-top: 50px;">
        <h2>Trips:</h2>
        <ul style="list-style: none; padding: 0;">
            {% for trip in trips %}
                <li style="margin-bottom: 20px;">
                    <a href="{% url 'detail_trip' trip.id %}">
                        Name: {{ trip.name }} 
                    </a> 
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
