{% extends 'base.html' %}


{% block body %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th scope="col">Is available</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.description }}</td>
                    <td>{{ obj.get_type_display }}</td>
                    <td>{{ obj.price }}</td>
                    <td>{{ obj.is_available }}</td>
                    <td>
                        <a href="{% url 'edit' obj.id %}" class="btn btn-success btn-sm" role="button">Edit</a>
                        <a href="{% url 'delete' obj.id %}" class="btn btn-danger btn-sm delete-confirm" role="button">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}