{% extends 'base.html' %}


{% block body %}

<form method="get" action="{% url 'list_view' %}">
    {{ filter.as_p }}

    <input type="radio" class="btn" name="sort" value="title">
    <label for="title">Sort by title</label><br>
    <input type="radio" class="btn" name="sort" value="category">
    <label for="category">Sort by category</label><br>
    <input type="radio" class="btn" name="sort" value="year">
    <label for="year">Sort by year</label><br>
    <input type="radio" class="btn" name="sort" value="imdb_rating">
    <label for="imdb_rating">Sort by imdb rating</label><br>

    <br>
    <input type="submit" value="Submit" class="btn btn-secondary"/>
</form>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Titel</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Year</th>
                <th scope="col">Premiere</th>
                <th scope="col">Imdb rating</th>
                <th scope="col">Director</th>
            </tr>
        </thead>
        <tbody>
            {% for film in films %}
                <tr>
                    <td>{{ film.title }}</td>
                    <td>{{ film.get_category_display }}</td>
                    <td>{{ film.description }}</td>
                    <td>{{ film.year }}</td>
                    <td>{{ film.premiere }}</td>
                    <td>{{ film.imdb_rating }}</td>
                    <td>{{ film.director }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}